{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        {% if current_user.is_authenticated and current_user.is_lawyer %}
        {% include "messages.html" %}
        <div class="row">
            <div class="col s12">
                <div class="card white z-depth-0">
                    <div class="card-content black-text" style="display: flex; justify-content: space-between;">
                        <span class="card-title">Добавить заседание для дела: {{ case.number_case }} </span>
                        <a class="waves-effect waves-light btn" href="{{ url_for('case.case_information', case_id=case.id, _anchor='block6') }}">вернуться</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">


                <form class="col s12" action="{{ url_for('case.add_event', case_id=case.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s2">
                            {{ form.date_event.label }} {{ form.date_event() }}
                        </div>
                        <div class="input-field col s2">
                            {{ form.time_event.label }} {{ form.time_event() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.comment.label }} {{ form.comment() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="submit" class="btn waves-effect waves-light" type="submit" name="submit">Добавить
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        {% include "case/event_scripts.html" %}
        {% endif %}
    </div>
</main>
{% endblock %}
